body{
	color:blue;
	background-color:black;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:50px;
	text-align:center;
		
}

#leftbody{
	float:left;
	width:190px;
	height: 500px;
	background-color:#FFFFCC;
	padding:5px;

}
#rightbody{
	float:right;
	width:540px;
	height:500px;
	background:#FFFF99;
	padding:5px;
}

#bottom{
	text-align:center;
	height:50px;
	clear:both;

}
