.firstbox{
    background-color: green;

    padding-top: 1px;
    padding-left: 10px;
    /*border: 3px purple dotted;*/
}

/*img{
  border: 2px dashed yellow;
  padding: 26px;
}*/

.boxtxt{
  margin:22px 10px 1px 5px;
  padding: 7px 1px 0px 8px;

}

h1{
  color: purple;
}

h5{
  color: #006400;
  margin-top: -30px;
  margin-left: 13px;
  font-size: 10px;

}

.small{
  margin: 1px 15px 5px 2px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 8px;
  font-size: 10px;
  border: 3px black dotted;
  color: red;
}

.bigtxt{
  margin: 1px 5px 5px -10px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-size: 5px;
}
