
* {
	margin: 0;
	font-family: "Lucida Console", Times, serif;
}

body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1400px;
	height:920px;
	margin:0 auto;
	background-color:white;
}

/* HEADER */

#header{
    padding-top: 15px;
    padding-bottom: -1000px;
	height:120px;
	text-align:left;
	color: black;
	background-color:lightskyblue;
	font-weight: bold;
	font-size: 17px;
    padding-left: 100px;
}

#logo{
    float: left;
    margin-left: -90px;
    padding-top: -3000px;
    padding-right: 13px;
	display: inline;
}

h1{
    display: inline;
	padding-top: 10px;
	border:20px;
	border-color: black;
  }



ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 24px;
  display: inline;
  padding-left: 10px;

}

li {
  display: inline;
  margin-bottom:-100px;
}

#sign{
  	float:right;
    margin: 0px;
    padding: 0px;
    padding-right: 50px;
    font-size: 20px;
	padding-top:8px;
}

#login{
  	float:right;
	margin: 8px;
	padding: 0px;
	padding-right: 30px;
	font-size: 20px;
}

#home{
	font-size: 36px;
}

a:hover{
	color: red;
}

.hover:hover{
	color: red;
}


#headertxt{
	padding-top:30px;
}


/* LEFT BODY */

#leftbody{
	float:left;
	width:295px;
	height: 470px;
	padding:5px;
	font-size: 23px;
	padding-top: 25px;
	color: black;
	font-weight: bold;
  	padding-left:30px;
  	font-size: 30px;
  	background-color:lightblue	;
}

#text{
	float:right;
	width:265px;
	height: 200px;
	color: black;
	font-weight: bold;
  	padding-top: 45px;
 	font-size: 20px;
  	background-color: lightblue;
}

#move{
	padding-lefT:20px;
	padding-top:20px;
}


/* RIGHT BODY */

#rightbody{
	float:right;
	width:1000px;
	height:470px;
	background:#FFFF99;
	padding:5px;
	padding-top: 25px;
	font-size: 23px;
	color: black;
	font-weight: bold;
 	position: relative;
 	text-align: center;
	color: white;
}

#mario{
	margin-left: -80px;
	margin-top: -25px;
  }
  

.centered { /*https://medium.com/the-clever-dev/change-button-font-size-with-javascript-or-css-2-easy-ways-6cbdd0df9a04 accessed on 12/11/2022*/
	position: absolute;
	top:200px;
	left: 30%;
	transform: translate(-17%, -50%);
	font-size: 40px;
	padding-left:20px;
	font-weight: 400;
}

#imgid{
	padding-top:-200px;
	margin-top: -320px;
	margin-left:640px;
}

#buttons{
	margin-left: 500px;
	margin-top: -20px;
}

#download{
	font-size: 30px;
	color: black
}


/* CONTENT */

#content{
	text-align:left;
	height:400px;
	width: 1400px;
	clear: both;
	background: blue;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
  background-color: lightyellow;

  border: 10px;
}

#platform{
	float:left;
	padding:10px;
	margin-left: -260px;
	margin-top:50px;
	color:black;
	font-size: 30px;
  padding-left: 800px;


}

#computer{
	float:left;
	padding:10px;
	margin-left: -150px;
	margin-top:200px;
	color:blue;
	font-size: 30px;
  padding-left: 800px;
}


#mobile{
	float:left;
	padding:10px;
	margin-left: -620px;
	margin-top:50px;
	color:blue;
	font-size: 30px;

}

#console{
	float:left;
	padding:10px;
	margin-left: 270px;
	margin-top:-50px;
	color:blue;
	font-size: 30px;
  padding-left: 800px;
}


#computerimg{
	margin-left: -780px;
	margin-top: -280px;
	padding-top: 260px;
}

#mobileimg{
	margin-left: 250px;
	margin-top: 10px;
}

#consoleimg{
	margin-left: 240px;
	margin-top: 50px;
}


/* FOOTER */


#footer{
	text-align:left;
	height:auto;
	clear:both;
	color: black;
	background: yellow;
	font-size: 23px;
	font-weight: bold;
  	background-color:lightskyblue;
	display: flex;
	padding:10px;
}

#his {
	display: block;
	padding-top:15px;
	padding-left:10px;
}


#grappling {
	flex: 85%;
}


#socials {
	flex: 15%;
	padding-left:100px;
}



