* {
	margin: 0;
}

body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1400px;
	height:920px;
	margin:0 auto;
	background-color:white;
}

#header{
    padding-top: 15px;
    padding-bottom: -1000px;
	height:120px;
	text-align:left;
	color: black;
	background-color: red;
	font-weight: bold;
	font-size: 17px;
    padding-left: 100px;
}



h1{
    display: inline;
	padding-top: 10px;
	border:20px;
	border-color: black;
  }

#logo{
    float: left;
    margin-left: -90px;
    padding-top: -3000px;
    padding-right: 13px;
	display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 24px;
  display: inline;
  padding-left: 10px;

}

li {
  display: inline;
  margin-bottom:-100px;
}

#sign{
  	float:right;
    /*margin-bottom:-100px;
    margin-top:80px;
    margin-right: 150px;*/
    margin: 0px;
    padding: 0px;
    padding-right: 50px;
    font-size: 20px;
	padding-top:8px;
}

#login{
  	float:right;
	margin: 8px;
	padding: 0px;
	padding-right: 30px;
	font-size: 20px;
}

#bigsupp{
	font-size: 36px;
}

#headertxt{
	padding-top:30px;
}

#leftbody{
	float:left;
	width:280px;
	height: 460px;
	color: black;
	font-weight: bold;
  	padding-left: 50px;
	padding-top: 40px;
  	font-size: 30px;
  	background-color:salmon;
}

#text{
	float:left;
	padding-right: 20px;
	color: black;
	font-weight: bold;
  	padding-top: -30px;
 	font-size: 30px;
}

#texttwo{
	padding-bottom: -70px;
	padding-right: 20px; 
	font-size: 55px;

}


#rightbody{
	float:right;
	width:1000px;
	height:470px;
	padding:5px;
	padding-top: 25px;
	font-size: 23px;
	color: black;
	font-weight: bold;
 	position: relative;
 	text-align: center;

}

#centered{
	position: absolute;
	top:40%;
	left: 30%;
	transform: translate(-17%, -50%);
	font-size: 40px;
	padding-left:20px;
	font-weight: 400;
}

#but{   /*https://medium.com/the-clever-dev/change-button-font-size-with-javascript-or-css-2-easy-ways-6cbdd0df9a04 accessed on 12/11/2022*/

	padding-top: -100px;

}

button{
	margin-top:-36px;
}


.down{
	color: lightgreen;
	font-weight: bold;
}


#content1{
	text-align:left;
	height:320px;
	width: 1400px;
	clear: both;
	background: blue;
	color: black;
	font-size: 20px;
	font-weight: bold;
  	background-color: peachpuff;

}

#content2{
	background: papayawhip;
	height:320px;
}

#content3{
	background: peachpuff;
	height: 320px;
}

#content4{
	background: papayawhip;
	height: 320px;
}

#content5{
	padding-top:50px;
	background: peachpuff;
	height: 240px;
	padding-left: 370px;
}

#menu{
  margin-top: 520px;
  margin-left:500px;
	text-align:left;
	height:50px;
	width: 420px;
	clear: both;
	background: grey;
	color: black;
	font-size: 29px;
	font-weight: bold;
	padding-top:20px;

  text-align:center;
  background-color: red;
}

#menu1{
	float:left;
	padding:5px;
	margin-left: -240px;
	margin-top:200px;
	color:black;
	font-size: 30px;
  padding-left: 800px;
}


#text1{
	float:left;
	padding-top:147px;
	color:black;
	font-size: 30px;
	padding-left: 70px;
}

#text2{
	float:right;
	padding-top:147px;
	color:black;
	font-size: 30px;
	padding-right: 360px;
}

.text3{
	float:right;
	padding-top:147px;
	color:black;
	font-size: 30px;
	padding-right: 520px;
	font-weight: bold;
	text-align: center;
}

#text5{
	float:right;
	padding-top:147px;
	color:black;
	font-size: 30px;
	padding-right: 380px;
	font-weight: bold;
	
}

#text6{
	float:left;
	padding-top:147px;
	color:black;
	font-size: 30px;
	padding-left: 100px;
	font-weight: bold;
}

#item1{
	padding-top:40px;
	padding-left: 50px;
    padding-bottom: 20px;

}

#item2{

	margin-top: -310px;
	padding-left:1040px;
}

#item3{

	margin-top: -270px;
	padding-left:970px;
}

#item4{
	padding-top:30px;
	padding-left: 270px;
    padding-bottom: 20px;

}

#item5{
	padding-top:10px;
	padding-left: 30px;
    padding-bottom: 20px;
}

#item6{
	margin-top: -300px;
	padding-left:1040px;
}

#item7{

	margin-top: -260px;
	padding-left:970px;
}

#item8{
	padding-top:70px;
	padding-left: 270px;
    padding-bottom: 20px;

}

#mario{
	margin-left: -80px;
	margin-top: -25px;
  }
  
#his{
  float: left;
  margin-right: 30px;
  margin-top: 25px;
  margin-left: 12px;
  font-size: 20px;
  margin-bottom:100px;
  padding-bottom: 20px;
}



#footer{
	text-align:left;
	height:79px;
	clear:both;
	color: black;
	background: yellow;
	font-size: 23px;
	font-weight: bold;
  background-color:red;

}

#insta{
	padding-left: 917px;
	padding-top:12px;
}

#twitter{

	padding-left: 980px;
	padding-top:-600px;
	margin-top:-50px;
}

#fb{
	float: right;
	padding-right: 20px;
	margin-top:-50px;
	padding-top:-2002px;
}

a:hover{
	color:yellow;
}

.hover:hover{
	color: yellow;
}

input{
	text-align: center;
}