
* {
	margin: 0;
	font-family: "Lucida Console", Times, serif;
}

body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1400px;
	height:920px;
	margin:0 auto;
	background-color:white;
}


/*HEADER*/

#header{
    padding-top: 15px;
	text-align:left;
	color: black;
	background-color:plum;
	font-weight: bold;
	font-size: 17px;
    padding-left: 100px;
	
}

#support{ /*nav support*/
	font-size: 36px;
}

h1{ /*grabbling hook title*/
    display: inline;
	padding-top: 10px;
	border:20px;
	border-color: black;
  }

#logo{ 
    float: left;
    margin-left: -90px;
    padding-top: -3000px;
    padding-right: 13px;
	display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 24px;
  display: inline;
  padding-left: 10px;

}

li {
  display: inline;
  margin-bottom:-100px;
}

#sign{
  	float:right;
    margin: 0px;
    padding: 0px;
    padding-right: 50px;
    font-size: 20px;
	padding-top:8px;
}

#login{
  	float:right;
	margin: 8px;
	padding: 0px;
	padding-right: 30px;
	font-size: 20px;
}

a:hover{
	color: red;
}

.hover:hover{
	color: red;
}

#headertxt{
	padding-top:30px;
}


/* FIRST BODY*/ 

#content2{ /*pick*/
	clear: both;
	font-size: 20px;
	margin-left: -100px;
	padding-bottom:60px;
  background-color: lavender;
  height: 600px;
}

#search{ /*search bar*/
	padding-top: -200px;
	padding-left: 10px;
	padding-bottom: 200px;

}

#help{ /*the title of page*/
	float:left;
	padding:10px;
	margin-left: -400px;
	margin-top:70px;
	color:black;
	font-size: 40px;
  padding-left: 780px;
}

#view{ /*click here to view more*/
	float:left;
	padding:10px;
	margin-left: -95px;
	margin-top:50px;
	color:black;
	font-size: 23px;
  padding-left: 665px;
}

#computer{ /*login text*/
	float:left;
	padding-bottom:100px;
	padding:10px;
	margin-left: -155px;
	margin-top:350px;
	color:blue;
	font-size: 30px;
  padding-left: 665px;
}

#mobileimg{ /*login img*/
	margin-left: 74px;
	margin-top: 0px;
}

#computerimg{ /*history*/
	margin-left: -1230px;
	margin-top: -200px;
	padding-top: 270px;
}

#mobile{ /*history text*/
	float:left;
	padding:10px;
	margin-left: -430px;
	margin-top:-19px;
	color:blue;
	font-size: 30px;
}

#console{ /*FAQ text*/
	float:left;
	padding:10px;
	margin-left: -55px;
	margin-top: -90px;
	color:blue;
	font-size: 30px;
  padding-left: 900px;
}

#consoleimg{ /*FAQ img*/
	margin-left: 80px;
	padding-bottom:15px;

}

#repimg{ /*report img*/
	margin-left: 1100px;
	margin-top: -240px;
}

#report{ /*report text*/
	float:left;
	padding:10px;
	margin-left: 230px;
	margin-top: -60px;
	color:blue;
	font-size: 30px;
  padding-left: 880px;
}


/* SECOND BODY*/

#content1{
	text-align:left;
	height:400px;
	width: 1400px;
	clear: both;
	background: blue;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin-left: -100px;
	background-color: lightcyan;
}

#contact1{  /*cant find what youre looking for text*/
	float:right;
	padding-top:40px;
	padding-right: 80px;

}

#contact2{ /* phone img */
	float:left;
	padding-top:100px;
	color:black;
	font-size: 40px;
  	padding-left: 80px;
}

#bigbutton{  /*click here button*/
 	/*https://medium.com/the-clever-dev/change-button-font-size-with-javascript-or-css-2-easy-ways-6cbdd0df9a04 accessed on 12/11/2022*/
	font-size: 35px;
 	border-radius: 4px;
  	background-color: #1e73be;
 	color: white;
  	padding: 6px 12px;
  	cursor: pointer;
  	border: 4px solid #1e80be;
  	width: 200px;
  	margin: 12px;
}

/* FOOTER */

#footer{ 
	text-align:left;
	height:79px;
	clear:both;
	color: black;
	background: yellow;
	font-size: 23px;
	font-weight: bold;
  background-color:plum;
  margin-left: -100px;

}

#name{ /*social media @*/
  float: left;
  margin-top: 25px;
  margin-left: 22px;
  font-size: 25px;
}


#socials {
	padding-top: 15px;
	float:right;
	flex: 15%;
	padding-right:20px;
}


