
* {
	margin: 0;
}

body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1400px;
	height:920px;
	margin:0 auto;
	background-color:white;
}

#header{
    padding-top: 15px;
    padding-bottom: -1000px;
	height:120px;
	text-align:left;
	color: black;
	background-color:lightskyblue;
	font-weight: bold;
	font-size: 17px;
    padding-left: 100px;

	
}

h1{
    display: inline;
	padding-top: 10px;
	border:20px;
	border-color: black;
  }

#logo{
    float: left;
    margin-left: -90px;
    padding-top: -3000px;
    padding-right: 13px;
	display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 24px;
  display: inline;
  padding-left: 10px;

}

li {
  display: inline;
  margin-bottom:-100px;
}

#sign{
  	float:right;
    /*margin-bottom:-100px;
    margin-top:80px;
    margin-right: 150px;*/
    margin: 0px;
    padding: 0px;
    padding-right: 50px;
    font-size: 20px;
	padding-top:8px;
}

#login{
  	float:right;
	margin: 8px;
	padding: 0px;
	padding-right: 30px;
	font-size: 20px;
}

#headertxt{
	padding-top:30px;
}




#rightbody{
	float:right;
	width:1000px;
	height:470px;
	background:#FFFF99;
	padding:5px;
	padding-top: 25px;
	background-color: blue;
	font-size: 23px;
	color: black;
	font-weight: bold;
 	background-color:white;
 	position: relative;
 	text-align: center;
	color: white;
}



.down{
	color: lightgreen;
	font-weight: bold;
}

#content1{
	text-align:left;
	height:400px;
	width: 1400px;
	clear: both;
	background: blue;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: -100px;
	background-color: mistyrose;

  border: 10px;
}

#search{
	margin-top:-150px;
	margin-right: -200px;
}

#content2{
	text-align:left;
	height:400px;
	width: 1400px;
	clear: both;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin-top: -200px;
	margin-left: -100px;
  background-color: lavenderblush;
  height: 600px;
}

#menu{
  margin-top: 520px;
  margin-left:500px;
	text-align:left;
	height:50px;
	width: 420px;
	clear: both;
	background: grey;
	color: black;
	font-size: 29px;
	font-weight: bold;
	padding-top:20px;

  text-align:center;
  background-color: red;
}

#menu1{
	float:left;
	padding:5px;
	margin-left: -240px;
	margin-top:200px;
	color:black;
	font-size: 30px;
  padding-left: 800px;
}

#help{
	float:left;
	padding:10px;
	margin-left: -260px;
	margin-top:50px;
	color:black;
	font-size: 30px;
  padding-left: 800px;


}

#computer{
	float:left;
	padding-bottom:100px;
	padding:10px;
	margin-left: -150px;
	margin-top:200px;
	color:blue;
	font-size: 30px;
  padding-left: 800px;
}


#mobile{
	float:left;
	padding:10px;
	margin-left: -20px;
	margin-top:50px;
	color:blue;
	font-size: 30px;


}

#console{
	float:left;
	padding:10px;
	margin-left: 270px;
	margin-top:-50px;
	color:blue;
	font-size: 30px;
  padding-left: 800px;
}



#computerimg{
	margin-left: -780px;
	margin-top: -70px;
	padding-top: 260px;


}

#mario{
  margin-left: -80px;
  margin-top: -25px;
}


#mobileimg{
	margin-left: 240px;
	margin-top: 10px;
}

#consoleimg{
	margin-left: 240px;
	margin-top: 50px;
}


#larrow{
padding-left: 270px;
}

#rarrow{

}

#his{
  float: left;
  margin-right: 30px;
  margin-top: 25px;
  margin-left: 12px;
  font-size: 20px;
  margin-bottom:100px;
  padding-bottom: 20px;
}



#footer{
	text-align:left;
	height:79px;
	clear:both;
	color: black;
	background: yellow;
	font-size: 23px;
	font-weight: bold;
  background-color:lightskyblue;
  margin-left: -100px;

}

#insta{
	padding-left: 917px;
	padding-top:12px;
}

#twitter{

	padding-left: 980px;
	padding-top:-600px;
	margin-top:-50px;
}

#fb{
	float: right;
	padding-right: 20px;
	margin-top:-50px;
	padding-top:-2002px;
}

