/*body{background-color:yellow;}*/


/*p{color:blue;}*/

#firstHeader{color:red; font-weight: bold; /*font-size:20px;*/}


.greenText{color:green; font-style: italic;}

/*.changefont{font-family: Lucida, Arial;}*?
/*.changefont{font-family: Lucida, Arial;}*/
