body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1900px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:50px;
	text-align:center;
	padding-bottom:50px;
	padding-top:1px;
	background-color:red;
	font-size: 23px;
	color: white;
		
}

#leftbody{
	float:left;
	width:1894px;
	height: 650px;
	background-color:green;
	padding:5px;
	padding-left: 1px;
	padding-top:14px;
	color: white;
}

#bottom{
	text-align:left;
	height:70px;
	clear:both;
	background-color:blue;
	color: white;
	padding-left: 1px;
	padding-top: 20px;
	color: white;


}