body{
	color:blue;
	background-color:green;
}


#wrapper{
	width:1000px;
	height:-5000px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:95px;
	text-align:center;
	color: black;
	background-color: red;
		
}

#leftbody{
	float:left;
	width:300px;
	height: 80px;
	background-color:#FFFFCC;
	padding:5px;
	background-color: pink;
	font-size: 23px;
	padding-top: 25px;
}
#rightbody{
	float:right;
	width:680px;
	height:80px;
	background:#FFFF99;
	padding:5px;
	padding-top: 25px;
	background-color: orange;
	font-size: 23px;
}

#content{
	text-align:left;
	height:100px;
	width: 1500px;
	clear: both;
}

#bottom{
	text-align:center;
	height:50px;
	clear:both;

}