body{
	color:blue;
	background-color:white;
}


#wrapper{
	width:1900px;
	height: 1000px;
	margin:0 auto;
	background-color:green;
}

#header{
	height:50px;
	text-align:center;
		
}

#leftbody{
	float:left;
	width:190px;
	height: 500px;
	background-color:blue;
	padding:5px;
	padding-left: 100px;

}
#rightbody{
	float:right;
	width:540px;
	height:500px;
	background:red;
	padding:5px;
}

#bottom{
	text-align:center;
	height:50px;
	width: 50px;
	background: yellow;
	clear:both;

}
